# Konfigurationsdatei für den Paketmanager, das festlegt, wie Pakete installiert, heruntergeladen werden

auto-install-peers=true # Installiert Peer-Dependencies automatisch, wenn sie nicht vorhanden sind
