#BackwardButton, #ForwardButton {
    align-self: flex-start;
    margin-left: 12px;
}

#PraxisInfosPraxisPage {
    min-width: 180px;
}

#TerminInfosPraxisPage {
    margin-top: 100px;
    min-width: 400px;
    max-width: 560px;
}

#PraxisPage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.praxisPageText {
    margin-top: 1em;
}

#BackButtonPraxisPage {
    margin-right: auto;
    margin-left: 3em;
    margin-top: 3em;
}